

[include mainsail.cfg]
[force_move]
enable_force_move: True
[include homing.cfg]
# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu

[include bigtreetech-skr-pico-v1.0.cfg]
[include config_backup.cfg]

[include V0Display.cfg]


